html,body
{
    width : 100%;
    height : 100%;
    margin : 0;
    font-weight : bold;
}



#arena
{
     width : 100%;
     height : 85%;
     /*background-color : #303030; */
     padding : 0 0 0 0;
     z-index : 0;
    
}

.clear
{
    clear:both;
}


#comdot
{
   top : 81%;
   left : 0;
   z-index : 201;
   color : #F37F01;
   
}

.dots
{
    font-size :100%;
    width : 9%;
    max-width : 9%;
    max-height : 9%;
    height : 9%;
    border : 0px solid red;
    position : absolute;
    
    padding : 0;
}

.dots img{
    
     max-width : 100%;
     height : 100%;
     width : 100%;
     max-height : 100%;
    
}

.fred{
    color : #ff2200;
}

.fgreen
{
    color : #99cc00;
}

.fs
{
top : 36%;
left : 32%;
width : 18%;
height : 54%;
}

.ss
{
top : 0;
left : 11%;
width : 27%;
height : 45%;
}

.ts
{
top : 10%;
left : 56%;
width : 18%;
height : 54%;
}



.fl
{
top : 0;
left : 72%;
width : 9%;
height : 63%; 
}

.sl
{
top : 18%;
left : 13%;
width : 27%;
height : 63%; 
}

.tl
{
top : 36%;
left : 45%;
width : 27%;
height : 54%; 
}

.green
{
   background-color : #99CC00; 
}


.grey
{
    background-color : #D0D0D0;
}
.gridbox
{
    width : 9%;
    height : 9%;
    color : #ffffff;
    font-weight : bold;
}

#gridmask
{
     position :  absolute;
     width : 90%;
     height : 85%;
     left : 0;
     z-index : 50;
   
    
}


.ladder
{
    position : absolute;
    
    border: 0px solid red;
}

.ladder img
{
     max-width : 100%;
     height : 100%;
     width : 100%;
     max-height : 100%;
}



.left
{
    float:left;
}

.lbar
{
   
    border-right : 2px solid #9d2e10;
    height : 99%;
    width : 25%;
    
}

.playerstat
{
    width : 50%;
    height : 50%;
    color : #ffffff;
  
}
.compstat
{
     width : 50%;
     height : 50%;
     color : #ffffff;
   
}

.movemask
{
    position :  absolute;
    width : 90%;
    height : 85%;
    left : 0;
    z-index : 200;
    border : 0px solid red;
}


#mydot
{
   top : 81%;
   left : 0;
   z-index : 202;
   color : #000000; 
}


.panel
{
  width : 100%;
  height : 14%;
  background-image : url('../media/pallete.jpg');
  
  /*background-color : #9d2e10; */
}

.panel img
{
     max-width : 100%;
     height : 100%;
     width : 100%;
     max-height : 100%;
}

.rbar
{
    height : 99%;
    width : 74%;
   
    
}

#msgs
{
     color : #ffffff;
     width:99%;
     height : 47%;
     border-top : 2px solid black;
}

.right
{
    float : right;
}

.snakes
{
    position : absolute;
   border : 0px solid red;
  
   
}

.snakes img
{
     max-width : 100%;
      height : 100%;
      width : 100%;
     max-height : 100%;
}
.snlmask
{
    position :  absolute;
    width : 90%;
    height : 85%;
    left : 0;
    z-index : 100;
    border : 0px solid red;
}

#start
{
  background-color : #00a8ff;
  color : #ffffff;
  border : 1px solid #00a8ff;
}


#start:hover
{
    background-color : #00a0ff;
    color : #ffffff;
    border : 1px solid #00d8ff;
   
}

#new
{
  background-color :#ff8100;
  color :  #ffffff;
  border : 1px solid #ff8100;
}


#new:hover
{
  background-color :#ff5200;
   border : 1px solid #ff5200;
  color : #ffffff;
}


.tabs
{
    width : 100%;
    height : 50%;
    cursor : pointer;
    
}

.wrap
{
    width : 100%;
    height : 100%;
    background-image : url('../media/txt.jpeg');
   /* background-repeat : repeat; */
}